<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>

<section>
    <div class="container">
        <h2 th:text="${task.id == null} ? 'Создать задачу' : 'Редактировать'"></h2>
        <form th:action="@{/tasks/save}" class="mb-3" th:object="${task}" method="post">
            <input type="hidden" th:field="*{id}" />
            <div class="mb-3">
                <label for="name" class="form-label">Название:</label>
                <input type="text" th:field="*{title}" id="name" class="form-control">
            </div>
            <div class="mb-3">
                <label for="description" class="form-label">Описание:</label>
                <textarea id="description" th:field="*{description}" class="form-control"></textarea>
            </div>
            <div class="mb-3">
                <div class="form-check">
                    <label for="completed" class="form-check-label">Завершено</label>
                    <input type="checkbox" th:field="*{completed}" id="completed" class="form-check-input"/>
                </div>
            </div>
            <button type="submit" class="btn btn-outline-success">Сохранить</button>
        </form>
        <a th:href="@{/tasks}" class="btn btn-outline-primary">Назад к списку</a>

    </div>
</section>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>