<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

<h2 th:text="${task.id == null} ? 'Создать задачу' : 'Редактировать'"></h2>
<form th:action="@{/tasks/save}" th:object="${task}" method="post">
    <input type="hidden" th:field="*{id}" />
    <label for="name">Название:</label>
    <input type="text" th:field="*{title}" id="name"> <br>
    <label for="description">Описание:</label>
    <textarea id="description" th:field="*{description}"></textarea> <br>
    <label for="completed">Завершено:</label>
    <input type="checkbox" th:field="*{completed}" id="completed" /> <br>
    <button type="submit">Сохранить</button>
</form>
<a th:href="@{/tasks}">Назад к списку</a>
</body>
</html>
